.category-container {
  height: 60px;
  width: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.category-button {
  height: 33px;
  width: 115px;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-button-Black {
  height: 33px;
  width: 115px;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  color: white;
}
