.feedbackPopUpContainer {
  height: 170px;
  width: 400px;
  background-color: white;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.title {
  color: black;
  font-weight: 600;
  font-size: 1.5em;
}
.buttonsContainer {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.button {
  background-color: white;

  font-weight: 800;
  font-size: 1em;
  border: none;
  cursor: pointer;
}
.create {
  color: #147051;
}
.cancel {
  color: #a5a5a5;
}
